<%- include("partials/header") %>

  <h1 class="my-4">Create a new course</h1>
  <form action="/courses" method="POST" class="my-4">
    <%- include("_form_fields") %>
    </div>
  </form>
  </div>

  <%- include("partials/footer") %>