<%- include("partials/header") %>

  <h1 class="my-3">Edit course</h1>
  <form action="/courses/<%= course.id %>?_method=PUT" method="POST" class="my-4">
    <%- include("_form_fields") %>
  </form>
  </div>

  <%- include("partials/footer") %>